playwright==1.44.0
playwright-stealth==2.0.0
aiokafka==0.10.0
pydantic==2.8.0
sqlalchemy==2.0.32
psycopg[binary]==3.1.18
#psycopg2-binary==2.9.9
pandas==2.2.2
python-dotenv==1.0.1
#execjs==1.4.1
PyExecJS==1.5.1
fastjsonschema==2.19.1
prometheus-client==0.20.0

beautifulsoup4==4.12.3
lxml==5.2.1
